//COLORS
$white: #FFFFFF;
$bg-grey: #F7F8FF;
$blue-light: #93A5FF;
$blue-dark :#384170;
$text-color : #2E2E2E;
$bg-lightblue :#F7F8FF;

//PADDING
$padding-x-header : 7.3%;


//WIDTH
$xl:1280px;
$lg:1024px;
$md:768px;
$sm:640px;